asgiref==3.2.10
click==7.1.2
Django==3.1.6
Flask==1.1.2
Flask-Testing==0.8.0
isort==5.5.3
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycodestyle==2.6.0
pyflakes==2.2.0
PyMySQL==0.10.1
pytz==2020.1
sqlparse==0.3.1
toml==0.10.1
Werkzeug==1.0.1
